
# Ignore Python virtual environment
venv/

# Ignore compiled files
__pycache__/
*.pyc

# Ignore environment variables & config
.env

# Ignore dependencies (if using Poetry/Pipenv)
Pipfile
Pipfile.lock

# Ignore large model files (if needed)
*.onnx
*.pt
*.pth
datasets
# Ignore node_modules (if Next.js is in the same repo)
node_modules/
